<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>IS 445 Mark Del Castillo ASP.NET MVC4 Homework 6</h1>
    <ul>
      <li>@Html.ActionLink("Task 1", "Index")</li>
      <li>@Html.ActionLink("Task 2", "Task2")</li>
     </ul>
    <div>
        @RenderBody()
    </div>
</body>
</html>
